
* { text-indent : 10px; }                                      /* All elements get indented by 10 pixels */

/***/
/* Builder Section , this will be required when not building forms as well */
/***/
#leftColumn    { float:left; width:320px;                       } /* Top level left column is 320 wide */
#rightColumn   { margin-left:320px;                             } /* Top level right column takes the rest of the screen */
.tab-content   { overflow:hidden                                } /* Never mess up the right panel, hide the stuff that overflows */
.panel         { min-height:600px; border:1px solid lightgrey;  } /* Top level panels must be a least 600 high and have a light grey border */
.panelNoBorder { min-height:600px;                              } /* Top level panels must be a least 600 high, this one should not have a border */
.paddedStretch { width:100%; padding-right:10px;                } /* For ui setting cells, full width some minor padding on the right */
.widgetColumn  { min-height:600px; border:1px solid lightgrey;  } /* Container for  */


/***/
/* Widget Section , this will be required when not building forms as well
/* Non obvious stuff
/***/

.formHint {	font-size: .85em;	color: #777;	margin-left:20px; }  /* The form hint text behind a single line text*/
textarea  { text-indent: 0px; }                                  /* Counter the * text-indent:10px for '*' */
.required { color:red }                                          /* Color for the asterisk that indicates 'required' */

/***/
/* CSS Lint Style
/***/

.stretch { width:100% }
